# Default ignored files

!/AnchorAPI/src/wallet/
!/HyperledgerContainers/DockerNetwork;C/
!/HyperledgerContainers/DockerNetwork/AnchorChainCode/
!/HyperledgerContainers/Hyperledger/bin/
!/HyperledgerContainers/Hyperledger/config/
/AnchorAPI/src/node_modules
/Configurations/bin
/AnchorChainCode/node_modules
/.idea
