# Default ignored files

!/AnchorAPI/wallet/
!/Network/DockerNetwork;C/
!/Network/DockerNetwork/organizations/
!/PodAnchor/venv/
!/Network/Kube/
!/Network/Hyperledger/bin/
!/Network/Hyperledger/config/
