# Default ignored files

!/AnchorAPI/src/wallet/
!/HyperledgerContainers/DockerNetwork;C/
!/HyperledgerContainers/DockerNetwork/AnchorChainCode/
!/HyperledgerContainers/Hyperledger/bin/
!/HyperledgerContainers/Hyperledger/config/
